
@{
    ViewBag.Title = "Projects";
}

<div class="container main-jumbotron-container">
    <div class="jumbotron home-index-jumbotron">
        <table>
            <tr>
                <td class="col-sm-1">
                    <h1>Projects</h1>
                    <p class="lead">Find links to all of our projects below!</p>
                </td>
                <td class="col-sm-1">
                    <img src="~/Content/res/Logo.jpg" class="img-rounded" alt="Logo" width="102" height="102" style="float:right">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <table>
        <tr>
            <td class="col-md-1" align="center">
                <b>SmithsCore</b>
                <br />
                <a href="/Projects/SmithsCore"><img src="~/Content/res/Logo.jpg" alt="SmithsCore Logo" width="102" height="102" /></a>
            </td>
            <td class="col-md-1" align="center">
                <b>Armory</b>
                <br />
                <a href="/Projects/Armory"><img src="~/Content/res/ArmoryLogo.png" alt="Armory Logo" width="102" height="102" /></a>
            </td>
            <td class="col-md-1" align="center">
                <b>Weaponry</b>
                <br />
                <a href="/Projects/Weaponry"><img src="~/Content/res/WeaponryLogo.png" alt="Weaponry Logo" width="102" height="102" /></a>
            </td>
            <td class="col-md-1" align="center">
                <b>World</b>
                <br />
                <a href="/Projects/World"><img src="~/Content/res/WorldLogo.png" alt="World Logo" width="102" height="102" /></a>
            </td>
        </tr>
        <tr>
            <td class="col-md-1">
                <br />
            </td>
            <td class="col-md-1">
                <br />
            </td>
            <td class="col-md-1">
                <br />
            </td>
            <td class="col-md-1">
                <br />
            </td>
        </tr>
        <tr>
            <td class="col-md-1" align="center">
                <b>Tiny Storage</b>
                <br />
                <a href="/Projects/TinyStorage"><img src="~/Content/res/TinyStorageLogo.png" alt="TinyStorage Logo" width="102" height="102" /></a>
            </td>
            <td class="col-md-1" align="center">
                <br />
            </td>
            <td class="col-md-1" align="center">
                <br />
            </td>
            <td class="col-md-1" align="center">
                <br />
            </td>
        </tr>
    </table>
</div>
