@{
    ViewBag.Title = "SmithsCore";
}

<div class="container main-jumbotron-container">
    <div class="jumbotron home-index-jumbotron">
        <table>
            <tr>
                <td>
                    <h1>SmithsCore</h1>
                    <p class="lead">The super mod required for all SmithsModding projects and a framework for other mods!</p>
                </td>
                <td class="col-lg-1">
                    <img src="~/Content/res/Logo.jpg" class="img-rounded" alt="Logo" width="102" height="102">
                </td>
            </tr>
        </table>
    </div>
</div>
