
@{
    ViewBag.Title = "TinyStorage";
}

<div class="container main-jumbotron-container">
    <div class="jumbotron home-index-jumbotron">
        <table>
            <tr>
                <td>
                    <h1>Tiny Storage</h1>
                    <p class="lead">Smaller, cuter storage options!</p>
                </td>
                <td class="col-lg-1">
                    <img src="~/Content/res/TinyStorageLogo.png" class="img-rounded" alt="Logo" width="102" height="102">
                </td>
            </tr>
        </table>
    </div>
</div>

