
@{
    ViewBag.Title = "World";
}

<div class="container main-jumbotron-container">
    <div class="jumbotron home-index-jumbotron">
        <table>
            <tr>
                <td>
                    <h1>World</h1>
                    <p class="lead">World Generation addon for Armory! Addding the common metals to the Armory system</p>
                </td>
                <td class="col-lg-1">
                    <img src="~/Content/res/WorldLogo.png" class="img-rounded" alt="Logo" width="102" height="102">
                </td>
            </tr>
        </table>
    </div>
</div>

