
@{
    ViewBag.Title = "Admin Control Panel";
}

<div class="navbar navbar-nav navbar-inverse">
    <ul class="nav nav-stacked"> 
        <li>
            <a href="@Url.Action("RoleConfig","Admin")"><span class="glyphicon glyphicon-user"></span> Role Configuration</a>
        </li>
        <li>
            <a href="@Url.Action("UserRoles","Admin")"><span class="glyphicon glyphicon-user"></span> User Roles</a>
        </li>
    </ul>
</div>
