
@{
    ViewBag.Title = "Index";
}
<div class="container main-jumbotron-container">
    <div class="jumbotron home-index-jumbotron">
        <h1>Admin Control Panel</h1>
        <p class="lead">Modify settings for the site</p>
    </div>
</div>

