@using Microsoft.AspNet.Identity.EntityFramework;
@using SmithsModding_Website.Models;
@model SmithsModding_Website.Models.RoleConfigurationModels

@{
    ViewBag.Title = "Role Configuration";
}
@Html.Partial("_AdminMenuPartial")
<div class="container">
    <table class="table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-sm-1 text-center"><b>Role</b></th>
                <th class="col-sm-1 text-center"><b>Users In Role</b></th>
            </tr>
        </thead>
        @if (Model.Roles.Count > 0)
            {
                foreach (IdentityRole role in Model.Roles)
                {
                <tr>
                    <td class="text-center">@role.Name</td>
                    <td class="text-center">@role.Users.Count</td>
                </tr>
            }
        }
    </table>
</div>