@model SmithsModding_Website.Models.IndexViewModel
@{
    ViewBag.Title = "Your Account";
}

<div class="container main-jumbotron-container">
    <div class="jumbotron home-index-jumbotron">
        <h1>Your Account</h1>
        <p class="lead">Welcome to your account, @User.Identity.Name!</p>
    </div>
</div>

@*<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>*@
