
@{
    ViewBag.Title = "Index";
}
<div class="container main-jumbotron-container">
    <div class="jumbotron home-index-jumbotron">
        <table>
            <tr>
                <td class="col-sm-1">
                    <h1>Forums</h1>
                    <p class="lead">Forums and General Discussion about Smiths Modding</p>
                </td>
                <td class="col-sm-1">
                    <img src="~/Content/res/Logo.jpg" class="img-rounded" alt="Logo" width="102" height="102" style="float:right">
                </td>
            </tr>
        </table>
    </div>
</div>

