@{
    ViewBag.Title = "Contact";
}
<div class="container main-jumbotron-container">
    <div class="jumbotron home-index-jumbotron">
        <table>
            <tr>
                <td>
                    <h1>Contact</h1>
                    <p class="lead">Contact one of the team!</p>
                </td>
                <td class="col-lg-1">
                    <img src="~/Content/res/Logo.jpg" class="img-rounded" alt="Logo" width="102" height="102">
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="container">
    <h3>Team Members</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="col-lg-1">Name</th>
                <th class="col-lg-1">Email</th>
                <th>Twitter</th>
            </tr>
        </thead>
        <tr>
            <td><b>SmithsModding:</b></td>
            <td><a href="mailto:smithsmodding@outlook.com">Email</a></td>
            <td><a href="http://twitter.com/SmithsModding">Twitter</a></td>
        </tr>
        <tr>
            <td><b>OrionOnline:</b></td>
            <td><a href="mailto:oriondevelopment@outlook.com">Email</a></td>
            <td><a href="http://twitter.com/OrionMinecraft" target="_blank">Twitter</a></td>
        </tr>
        <tr>
            <td><b>TimtheBrick:</b></td>
            <td><a href="mailto:timthebrick@outlook.com">Email</a></td>
            <td><a href="http://twitter.com/TimtheBrickMC" target="_blank">Twitter</a></td>
        </tr>
    </table>
</div>