@{
    ViewBag.Title = "Contact one of the team!";
}
<h2>@ViewBag.Title</h2>

<div class="container">
    <h3>Team Members</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Twitter</th>
            </tr>
        </thead>
        <tr>
            <td><b>SmithsModding:</b></td>
            <td><a href="mailto:smithsmodding@outlook.com">Email</a></td>
            <td></td>
        </tr>
        <tr>
            <td><b>OrionOnline:</b></td>
            <td><a href="mailto:oriondevelopment@outlook.com">Email</a></td>
            <td><a href="http://twitter.com/OrionMinecraft" target="_blank">Twitter</a></td>
        </tr>
        <tr>
            <td><b>TimtheBrick:</b></td>
            <td><a href="mailto:timthebrick@outlook.com">Email</a></td>
            <td><a href="http://twitter.com/TimtheBrickMC" target="_blank">Twitter</a></td>
        </tr>
    </table>
</div>