@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SmithsModding</h1>
    <p class="lead">Welcome to the official SmithsModding website</p>
</div>
<div class="container">
    <table class="table">
        <tr>
            <td>
                <div>
                    <a class="twitter-timeline" href="https://twitter.com/search?q=%40OrionMinecraft%20OR%20%40TimtheBrickMC" data-widget-id="689565039460745218">Tweets about OrionMinecraft OR TimtheBrickMC</a>
                    <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script> 
                </div>
            </td>
            <td>
                <div>
                    
                </div> 
            </td>
        </tr>
    </table>
</div>