@{
    ViewBag.Title = "Smiths Modding";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/MainPage.css"/>
</head>
<div class="container body-content">
    <div class="col-sm-10 col-main-page">
        
    </div>
    <div class="col-sm-2 col-main-page">
        <ul class="nav nav-stacked main-nav">
            <li>
                <a href="http://www.twitter.com/SmithsModding">Twitter</a>
            </li>
        </ul>
    </div>
</div>