@{
    ViewBag.Title = "Home Page";
}

<div class="container main-jumbotron-container">
    <div class="jumbotron">
        <h1>SmithsModding</h1>
        <p class="lead">Welcome to the official SmithsModding website</p>
    </div>
</div>

<div class="container">

</div>