@{
    ViewBag.Title = "News";
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="container-inner">
                    <style>
                        .container-inner {
                            background-color: #333;
                            border-color: #e8e8e8;
                            border-radius: 5px;
                            color: #CFCFCF;
                            height: 600px;
                            min-height: 200px;
                        }

                        .container-header {
                            text-align: center;
                            border-color: #444;
                            border-width: 1px;
                            border-style: solid;
                            border-radius: 5px;
                            padding:12px;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 18px;
                            font: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
                            border-image-source: initial;
                            border-image-slice: initial;
                            border-image-width: initial;
                            border-image-outset: initial;
                            border-image-repeat: initial;
                        }
                    </style>
                    <div class="container-header">
                        Other News
                    </div>
                </div>
            </div>
            <div class="col-sm-3" align="right">
                <a class="twitter-timeline" href="https://twitter.com/SmithsModding" data-widget-id="691382104773517312">Tweets by SmithsModding</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
            </div>
        </div>
    </div>
</body>
